@font-face {
   font-weight: normal;
   font-family: 'Neucha';
   font-style: normal;
   font-display: swap;
   src:
      url("fonts/Neucha-Regular.ttf")
}

html,
body {
   box-sizing: border-box;
   height: 100vh;
   margin: 0;
   padding: 0;
   font-family: 'Neucha';
   font-size: 1.5em;
}

* {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(113, 113, 113);
}

input {
   display: none;
}

.wrapper {
   width: 50vw;
   margin: 0 auto;
   display: grid;
   grid-template-areas:
      'slider slider'
      'textarea navigation';
   row-gap: 2vh;
}

.slider {
   width: 50vw;
   overflow: hidden;
   grid-area: slider;
   border-radius: 0.2em;
}

.slider__wrapper {
   width: 400%;
   display: flex;
}

.slide {
   width: 25%;
   transition: 1s;
}

.slide img {
   width: 100%;
   height: 100%;
   border-radius: 0.2em;
}

.slider input {
   display: none;
}

.navigation {
   display: flex;
   grid-area: navigation;
}

.navigation__area {
   height: 1rem;
   width: 1rem;
   background-color: aquamarine;
   border: 0.1rem solid aquamarine;
   border-radius: 100%;
   transition: .3s;
}

.navigation__button {
   height: 1.5rem;
   width: 1.5rem;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   cursor: pointer;
}

.navigation__button:hover .navigation__area {
   background-color: white;
   border-color: white;
}

#radio1:checked~.slider>.slider__wrapper>.first-slide {
   margin-left: 0;
}

#radio2:checked~.slider>.slider__wrapper>.first-slide {
   margin-left: -50vw;
}

#radio3:checked~.slider>.slider__wrapper>.first-slide {
   margin-left: -100vw;
}

#radio4:checked~.slider>.slider__wrapper>.first-slide {
   margin-left: -150vw;
}

#radio1:checked~.navigation>.navigation__button>.navigation__area1 {
   background-color: transparent;
}

#radio2:checked~.navigation>.navigation__button>.navigation__area2 {
   background-color: transparent;
}

#radio3:checked~.navigation>.navigation__button>.navigation__area3 {
   background-color: transparent;
}

#radio4:checked~.navigation>.navigation__button>.navigation__area4 {
   background-color: transparent;
}

.textarea {
   width: 80%;
   overflow: hidden;
   grid-area: textarea;
}

.textarea__wrapper {
   width: 400%;
   display: flex;
   font-size: 1.2rem;
   color: white;
   transition: 1s;
}

.textarea__text {
   width: 100%;
   line-height: 1.5rem;
}

#radio1:checked~.textarea>.textarea__wrapper {
   transform: translateX(0%);
}

#radio2:checked~.textarea>.textarea__wrapper {
   transform: translateX(-25%);
}

#radio3:checked~.textarea>.textarea__wrapper {
   transform: translateX(-50%);
}

#radio4:checked~.textarea>.textarea__wrapper {
   transform: translateX(-75%);
}

@media screen and (max-width: 730px) {
   .wrapper {
      grid-template-areas:
         'slider'
         'navigation'
         'textarea';
   }
   .navigation {
      justify-content: center;
      align-content: center;
   }
   .textarea {
      width: 100%;
   }

   .navigation__area {
      height: 0.5rem;
      width: 0.5rem;
   }
   
   .navigation__button {
      height: 1rem;
      width: 1rem;
      justify-content: center;
       

   } 
}