@font-face {
   font-weight: normal;
   font-family: 'Neucha';
   font-style: normal;
   font-display: swap;
   src:
      url("fonts/Neucha-Regular.ttf")
}

html,
body {
   box-sizing: border-box;
   height: 100vh;
   margin: 0;
   padding: 0;
   font-family: 'Neucha';
}

* {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(88, 88, 88);
}

input {
   display: none;
}

.wrapper {
   width: 60vw;
   margin: 0 auto;
   display: grid;
   grid-template-areas:
      'slider slider'
      'textarea navigation';
   row-gap: 3vh;
   align-items: center;
}

.slider {
   width: 60vw;
   overflow: hidden;
   grid-area: slider;
   border-radius: 0.6em;
   box-shadow: 0 0.3em 1.3em 0.3em rgba(0,0,0,0.4) ;
}

.slider__wrapper {
   width: 400%;
   display: flex;
   transition: .5s;
}

.slide {
   width: 25%;
}

.slide img {
   width: 100%;
   height: 100%;
}

.slider input {
   display: none;
}

.navigation {
   display: flex;
   justify-content: flex-end;
   grid-area: navigation;
}

.navigation__area {
   min-height: 0.9rem;
   min-width: 0.9rem;
   background-color: rgb(127, 255, 212);
   border: 0.2rem solid rgb(127, 255, 212);
   border-radius: 100%;
   transition: .3s;
   box-shadow: 0 0 0.3em 0.2em rgba(127, 255, 212,0.3);
}

.navigation__button {
   height: 2rem;
   width: 2rem;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   cursor: pointer;
}

.navigation__button:hover .navigation__area {
   background-color: white;
   border-color: white;
   box-shadow: 0 0 0.3em 0.2em rgba(255, 255, 255, 0.3);
}

.navigation__button:active .navigation__area {
   background-color: rgb(190, 190, 190);
   border-color: rgb(190, 190, 190);
   box-shadow: 0 0 0.3em 0.2em rgba(190, 190, 190, 0.3);
}

#radio1:checked~.slider>.slider__wrapper {
   transform: translateX(0%);
}

#radio2:checked~.slider>.slider__wrapper {
   transform: translateX(-25%);
}

#radio3:checked~.slider>.slider__wrapper {
   transform: translateX(-50%);
}

#radio4:checked~.slider>.slider__wrapper {
   transform: translateX(-75%);
}

#radio1:checked~.navigation>.navigation__button>.navigation__area1 {
   background-color: transparent;
}

#radio2:checked~.navigation>.navigation__button>.navigation__area2 {
   background-color: transparent;
}

#radio3:checked~.navigation>.navigation__button>.navigation__area3 {
   background-color: transparent;
}

#radio4:checked~.navigation>.navigation__button>.navigation__area4 {
   background-color: transparent;
}

.textarea {
   width: 100%;
   overflow: hidden;
   grid-area: textarea;
}

.textarea__wrapper {
   width: 400%;
   display: flex;
   color: white;
   font-size: 2vw;
}

.textarea__text {
   width: 100%;
   visibility: hidden;
}

#radio1:checked~.textarea>.textarea__wrapper {
   transform: translateX(0%);
}

#radio2:checked~.textarea>.textarea__wrapper {
   transform: translateX(-25%);
}

#radio3:checked~.textarea>.textarea__wrapper {
   transform: translateX(-50%);
}

#radio4:checked~.textarea>.textarea__wrapper {
   transform: translateX(-75%);
}

@keyframes appearance {
   from {
       opacity: 0;
   }

   to {
      opacity: 1;
   }
}

#radio1:checked~.textarea>.textarea__wrapper>.textarea__text1 {
   visibility: visible;
   animation: appearance 1s ease-in-out;
}

#radio2:checked~.textarea>.textarea__wrapper>.textarea__text2 {
   visibility: visible;
   animation: appearance 1s ease-in-out;
}

#radio3:checked~.textarea>.textarea__wrapper>.textarea__text3 {
   visibility: visible;
   animation: appearance 1s ease-in-out;
}

#radio4:checked~.textarea>.textarea__wrapper>.textarea__text4 {
   visibility: visible;
   animation: appearance 1s ease-in-out;
}

@media screen and (max-width: 550px) {
   .wrapper {
      grid-template-areas:
         'slider'
         'navigation'
         'textarea';
   }

   .navigation {
      justify-content: center;
   }

   .navigation__button {
      justify-content: center;
   }

   .textarea__wrapper {
      font-size: 3.5vw;
   }
}