@font-face {
   font-weight: normal;
   font-family: 'Neucha';
   font-style: normal;
   font-display: swap;
   src:
      url("fonts/Neucha-Regular.ttf")
}

html,
body {
   box-sizing: border-box;
   height: 100vh;
   margin: 0;
   padding: 0;
   font-family: 'Neucha';
   font-size: 1.5em;
}

* {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(113, 113, 113);
}

input {
   display: none;
}

.wrapper {
   width: 50vw;
   margin: 0 auto;
   display: grid;
   grid-template-areas:
      'slider slider'
      'textarea navigation';
}

.slider {
   width: 50vw;
   overflow: hidden;
   grid-area: slider;
   border-radius: 2em;
}

.slider__wrapper {
   width: 400%;
   display: flex;
   height: 50vh;
}

.slidertext {
   width: 400%;
   display: flex;
   margin: 0 auto;
}

.slide {
   width: 25%;
   transition: 1s;
}

.slide img {
   width: 100%;
   height: 100%;
}

.slider input {
   display: none;
}

.navigation {
   display: flex;
}

.navigation__area {
   height: 1.3rem;
   width: 1.3rem;
   background-color: aquamarine;
   border: 0.3rem solid aquamarine;
   border-radius: 100%;
   transition: .3s;
}

.navigation__button {
   height: 1.8rem;
   width: 1.8rem;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   align-self: center;
}

.navigation__button:hover .navigation__area {
   background-color: white;
   border-color: white;
}

#radio1:checked~.slider>.slider__wrapper>.first-slide {
   margin-left: 0;
}

#radio2:checked~.slider>.slider__wrapper>.first-slide {
   margin-left: -50vw;
}

#radio3:checked~.slider>.slider__wrapper>.first-slide {
   margin-left: -100vw;
}

#radio4:checked~.slider>.slider__wrapper>.first-slide {
   margin-left: -150vw;
}

#radio1:checked~.navigation>.navigation__button>.navigation__area1 {
   background-color: transparent;
}

#radio2:checked~.navigation>.navigation__button>.navigation__area2 {
   background-color: transparent;
}

#radio3:checked~.navigation>.navigation__button>.navigation__area3 {
   background-color: transparent;
}

#radio4:checked~.navigation>.navigation__button>.navigation__area4 {
   background-color: transparent;
}

.textarea__wrapper {
   display: flex;
   overflow: hidden;
   font-size: 1.2rem;
   color: white;
   transition: 1s;
   width: 80vw;
}

.textarea {
   width: 100%;
   overflow: hidden;
   width: 32.5vw;
   width: 50%;
}

#radio1:checked~.textarea>.textarea__wrapper {
   transform: translateX(0%);
}

#radio2:checked~.textarea>.textarea__wrapper {
   transform: translateX(-25%);
}

#radio3:checked~.textarea>.textarea__wrapper {
   transform: translateX(-50%);
}

#radio4:checked~.textarea>.textarea__wrapper {
   transform: translateX(-75%);
}
